# Frontend environment — PRODUCTION (GitHub Pages → EC2 API)
# Copy to .env.production (git-ignored)
# REACT_APP_API_URL=https://api.skillkoder.com/api/v1
# REACT_APP_API_URL=https://skillkoder-backend-d9gvewesa9c7a5hc.southindia-01.azurewebsites.net/api/v1
REACT_APP_API_URL=https://skillkoder-backend-d9gvewesa9c7a5hc.canadacentral-01.azurewebsites.net/api/v1
